<%- include('../partials/header')>

<section class="userInfo">
    <h2>Hi <%=user.name %>!</h2>
</section>

<section class="progress">
    <h3>Rehab Progression</h3>
    
</section>

<section class="plan">
    <h3>Exercise Log</h3>

</section>

<section class="journal">
    <h3>Journal</h3>
</section>





<%- include('../partials/footer')>