<%- include('../partials/header') %>

<div>
    <br><h4 class="text-bg-warning p-3">Edit Exercise</h4><br><br>
</div>

<div class="mb-3">
    <form action="/exercises/<%= exercise._id %>?_method=PUT" method="POST">
        <label class="form-label">Exercise Name:</label>
        <input  class="form-control"type="text" name="exName"><br>
    
        <label class="form-label">Description:</label>
        <textarea  class="form-control" name="description"></textarea><br>
    
        <label class="form-label">Number of Sets:</label>
        <input  class="form-control" type="number" name="sets" min="1" max="10"><br>
    
        <label class="form-label">Number of Reps:</label>
        <input  class="form-control" type="number" name="reps" min="1" max="15"><br>
    
        <label class="form-label" >Video Link:</label>
        <input 
            class="form-control"
            type="url" name="video" id="url" 
            placeholder="https://example.com"
            pattern="https://.*"
        ><br>

        <button class="btn btn-warning" type="submit">Submit Edit </button>
    </form>
</div>
<a class="btn btn-warning" href="/exercises">Back</a>


<%- include('../partials/footer') %>