<%- include('../partials/header') %>


<br><br><h4 class="text-bg-warning p-3" >Add An Exercise To Your Bundle!</h4><br><br>


<div>
    <form  action="/exercises" method="POST">

    <label class="form-label">Exercise Name:</label>
    <input class="form-control" type="text" name="exName"><br>

    <label class="form-label">Description:</label>
    <textarea class="form-control" name="description"></textarea><br>

    <label class="form-label">Number of Sets:</label>
    <input class="form-control" type="number" name="sets" min="1" max="10"><br>

    <label class="form-label">Number of Reps:</label>
    <input class="form-control" type="number" name="reps" min="1" max="15"><br>

    <label class="form-label">Video Link:</label>
    <input 
        type="url" name="video" id="url" 
        placeholder="https://example.com"
        pattern="https://.*"
        class="form-control"
    ><br>

    <button class="btn btn-warning" type="submit">Add Exercise</button>
    </form> 
</div>


<%- include('../partials/footer') %>




